[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
bs4 = "*"
pprint = "*"
re = "*"
flask = "*"
pymongo = "*"
lxml = "*"
json = "*"

[requires]
python_version = "3.7"
