<!DOCTYPE html>
<html>

<head>
  <title>Mission to Mars</title>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="web-scrapping-challenge/style.css">
</head>

<body>

 <!-- Hero Section -->
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="font-weight-light">Mission to Mars</h1>
        <br/>
        <p class="lead">Bla bla bloody bla</p>
        <p><a href="#main" class="btn btn-primary btn-large">Scrape »</a></p>
      </div>
        
      </div>
    </div>
  </div>
</section>

<!-- News with one col-->
<section class="content-section-white"> 
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br/>
      <h2>Latest Mars News</h2>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
      <p> Reinvent mesh, "integrated, enable transform wireless life-hacks web-enabled e-commerce killer infomediaries podcasting reinvent," ubiquitous optimize design bleeding-edge podcasts syndicate. Visionary implement, "harness infrastructures ecologies strategic web-readiness, harness markets cutting-edge." Integrate transition innovate blogging markets user-contributed mesh, reintermediate citizen-media relationships integrate utilize? Cross-media metrics plug-and-play harness reinvent strategize incubate, post open-source. Mindshare user-centred wireless best-of-breed harness, drive." Tagclouds, "metrics partnerships customized intuitive," communities, plug-and-play cross-media bandwidth, efficient scalable beta-test, "reinvent optimize.</p>
    </div>
  </div>
</div>
</section>


<!-- Featured image, current weather and facts -->

<section class="content-section-white"> 
<div class="container">

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <br/>
      <h2>Featured Mars Image</h2>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <br/>
      <h2>Current weather on mars</h2>
      <p>Reinvent mesh, "integrated, enable transform wireless life-hacks web-enabled e-commerce killer infomediaries podcasting reinvent," ubiquitous optimize design bleeding-edge podcasts syndicate. Visionary implement, "harness infrastructures ecologies</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <br>
      <!-- just a placeholder image -->
      <img src='https://hdwallpaperim.com/wp-content/uploads/2017/08/22/384397-space_art-digital_art-planet-Mars-748x459.jpg'/>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <br/>
      <h2>Mars Facts</h2>
      <p>Reinvent mesh, "integrated, enable transform wireless life-hacks web-enabled e-commerce killer infomediaries podcasting reinvent," ubiquitous optimize design bleeding-edge podcasts syndicate. Visionary implement, "harness infrastructures ecologies</p>
    </div>
  </div>
</div>
</section>

</body>

</html>